

body{
    margin: 0;
    background-color: #262626;
    color: #E9E9EA;
    font-family: Arial, Helvetica, sans-serif ;
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
}

h1{
    
    color: #80D2F2;
    align-self: center;
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Bungee', cursive;
}

.header-padding{
    height: 5vh;
}
nav.nav-header{
    width: 100%;
    max-height: 80px;
    position: fixed;
    z-index: 100;
    background-color: #042959;
   
    
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 70px;
    justify-content: right;
}

nav.nav-header li{
    display: inline-block;
    padding-left: 10px;
    user-select:none;
    font-size: 20px;

    line-height: 2em;
}



nav.nav-header li:hover{
    display: inline-block;
    text-decoration: underline;
}

nav.nav-header ul{
    align-self: center;
    color: #80D2F2;
    /* margin-top: 0%; */
    padding-left: 0%;
    /* margin-left: 0px; */
}

nav.nav-header a{
    text-decoration: none;
    font-family: 'Bungee', cursive;
    color: inherit;
}

nav.nav-header a:visited{
    text-decoration: none;
    color: inherit;
}
nav.nav-header a:hover{
    text-decoration: none;
    color: inherit;
}

.site-title{
    text-align: center;
    color: #80D2F2;
    align-self: center;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Bungee', cursive;
    line-height: 1em;
    min-width: 330px;
}
/* #aboutUsNavBar .site-title{
    font-size: 20px;
} */
.right-nav{
    padding-right: 30px;
    padding-left: 0px;
    padding-top: 20px;
    display: inline-flex;
    justify-content: end;
}
.right-nav img{
    max-width: 48px;
    max-height: 46px;
    
}
.discord-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}
.yt-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}
.twitter-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}



/* DROPDOWN */
/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Bungee', cursive;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #042959;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #80D2F2;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}



.about-us{
    width: 75%;
    margin:auto;
    padding-top: 60px;
    align-self: center;
    text-align: center;
    font-size: 30px;
    max-width: 900px;
}
.about-us h1{
    color: #0091ff;
    font-size: 60px;
    font-family: 'Bungee', cursive;
    padding: auto;
    
}

.about-us img{
    max-height: 20%;
    max-width: 20%;
}



.capsule-window{
    position: relative;
    width: 100%;
}
.capsule{
    display: block;
    width: 100%;
    height: 45%;
    /* transform: translateY(-10%); */
    /* margin-bottom: -8%; */
}

#logoGif{
    position: absolute;
    /* top: 10px; */
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* align-self: center; */
    width: 45%;
}

.play-now{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #042959;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    border-radius: 25px;
    background-color: #80D2F2;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 230px;
    /* min-width: 15%; */
}
.play-now a{
    margin: auto;
    text-align: center;
    text-decoration: none;
}
.play-now a:visited{
    text-decoration: none;
    color:inherit;
}

.summary-box{
    display: inline-block;
    background-image: url("Images/StartMenuSplash1.png");

    /* Set a specific height */
    min-width: 285px;

    /* Create the parallax scrolling effect */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
}

.summary-box h1{
    text-align: center;
    color: #ffb300;
    font-size: 50px;
    font-family: 'Bungee', cursive;
    text-shadow: -2px -2px 0px white;
    max-width: 75%;
    margin:auto;
    padding-top: 20px;
    line-height: 1em;
}
.summary-box h2{
    text-align: center;
    color: #ffffff;
    text-shadow: -2px -2px 0px rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Bungee', cursive;
    max-width: 75%;
    margin: auto;
    line-height: 1.5em;
    padding-top: 30px;
}

.parallax-box{
    /* The image used */
    margin: auto;
    background-image: url("Images/Fight_Screenshot_Gradient.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info-section{
    /* background-color: rgba(186, 121, 0, 0.328); */
    /* width: 50%; */
    display: inline-block;
    margin-left: 5%;
    margin-right: 4%;
    min-width: 30%;
    max-width: 600px;
    /* background-color: #0091ff1c; */
    align-content: center;
}

.info-section h1{
    color: #ffb300;
    font-size: 80px;
    font-family: 'Bungee', cursive;
    margin-top: 30px;
    margin-bottom: -50px;
    line-height: 1em;
}

.info-section p{
    margin-top: 15%;
    font-size: 25px;
    text-shadow: -2px -2px 0px rgb(0, 0, 0);
}
#fightBox{
    background-image: url("Images/Fight_Screenshot_Gradient.jpg");
    text-align: left;
}
#buyBox{
    background-image: url("Images/Buy_Screenshot_Gradient.jpg");
    text-align: right;
}
#prepareBox{
    background-image: url("Images/Prepare_Screenshot_Gradient.jpg");
    text-align: left;
}
#surviveBox{
    background-image: url("Images/Fight_Screenshot_Gradient.jpg");
    text-align: right;
}

/* FEATURES SECTION */
#featureContainer{
    background-image: url("Images/ShopBackboard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}


#featureContainer h1{
    text-align: center;
    font-size: 70px;
    -webkit-text-stroke: 1px white;
}
.detailed-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:auto;
}

.detailed-info-item{
    /* background-color: red; */
    text-align: center;
    margin: auto;
    width: 30%;
    min-width: 500px;
    
    font-size: 25px;
    text-shadow: -2px -2px 0px rgb(0, 0, 0);
}

.feature-image{
    min-width: 265px;
    min-height: 149px;
    width: 50%;
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: white;
}

.learn-more-container h1{
    text-align: center;
    font-size: 70px;
    -webkit-text-stroke: 1px white;
}

.learn-more{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin:auto;
}
.learn-more-entry{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    /* width: 20%; */
    min-width: 20%;
    min-height: 100px;
    border-radius: 25px;
    

    text-align: center;
    font-size: 25px;
    text-shadow: -2px -2px 0px rgb(0, 0, 0);

    background-color: #042959;
    font-size: 40px;
    font-family: 'Bungee', cursive;
}
.learn-more-entry a{
    margin-left: 20px;
    margin-right: 20px;
    /* margin: auto; */
    text-decoration: none;
    color:inherit;
}
.learn-more-entry a:hover{
    text-decoration: none;
    color:inherit;
}
.learn-more-entry a:visited{
    text-decoration: none;
    color:inherit;
}

#learnMoreSteam{
    background-color: #ffb300;
    
}
.site-footer{
    width: 100%;
    height: 70px;
    margin:auto;
    margin-bottom:0px;
    
}

.site-footer p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 20px;
    margin: auto;
}
.legal-block{
    align-self: center; 
    position: relative;
    /* transform: translateX(100%); */
}
.footer-logo-block{
    width: 100px;
}
#footerLogoIcon{  
    height: 100px;
    width: 100px;
}

#learnMoreHomepage{
    scale: 75%;
}

#cfgPageFooter{
    position:absolute;
    bottom:0px;
    margin: auto;
}


/* STYLING FOR LARGER SCREENS: */

@media (min-width: 850.02px) {
    .play-now{
        
        min-width: 230px;
    }
    /* .summary-box{
        min-height: 1000px;
    } */
    .summary-box h1{
        font-size: 60px;
    }
    .summary-box h2{
        font-size: 30px;
        line-height: 2em;
    }
    .dropdown{
        display: none;
    }
    .left-nav{
        display: inline-block;
    }
    .right-nav{
        display: inline-flex;
    }
}
@media screen and (max-width: 850px){
    .left-nav{
        display: none;
    }
    .right-nav{
        display: none;
    }
    .dropdown{
        display: block;
    }
    html, body {
        overflow-x: hidden;
      }

    .parallax-box{
        background-attachment: scroll;
    }
}
