
body{
    margin: 0;
    background-color: #262626;
    color: #E9E9EA;
    font-family: Arial, Helvetica, sans-serif ;
}


nav.nav-header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #0091ff;
   
    text-align: center;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav.nav-header li{
    display: inline-block;
    padding-left: 10px;
    user-select:none;
    font-size: 20px;
}



nav.nav-header li:hover{
    display: inline-block;
    text-decoration: underline;
}

nav.nav-header ul{
    align-self: center;
    color: black;
}

nav.nav-header a{
    text-decoration: none;
}

nav.nav-header a:visited{
    text-decoration: none;
    color: inherit;
}
nav.nav-header a:hover{
    text-decoration: none;
    color: inherit;
}

.site-title{
    color: rgb(62, 62, 62);
    align-self: center;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Bungee', cursive;
}

.right-nav{
    padding-right: 30px;
    padding-left: 0px;
}
.discord-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}
.yt-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}
.twitter-logo{
    width: 48px;
    height: 46px;
    margin: auto;
}

.steam-embed{
    margin-left: 25%;
    
}

.about-us{
    width: 75%;
    margin:auto;
    align-self: center;
    text-align: center;
    font-size: 30px;
    max-width: 900px;
}
.about-us h1{
    color: #0091ff;
    font-size: 60px;
    font-family: 'Bungee Hairline', cursive;
    padding: auto;
    
}
.minigunner-info{
    width: 75%;
    margin:auto;
    align-self: center;
    text-align: center;
    font-size: 30px;
    max-width: 900px;
}
.minigunner-info h1{
    color: #0091ff;
    font-size: 60px;
    font-family: 'Bungee Hairline', cursive;
    padding: auto;
    
}


.minigunner-info h2{
    color: #0091ff;
    font-size: 40px;
    font-family: 'Bungee', cursive;
    padding: auto;
}






.capsule{
    width: 100%;
    transform: translateY(-10%);
    margin-bottom: -8%;
}

#logoGif{
    position: absolute;
    /* top: 10px; */
    top: 9%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    /* align-self: center; */
    width: 45%;
}

.parallax-box{
    /* The image used */
    margin: auto;
    background-image: url("Images/FIGHT_Screenshot.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info-section{
    background-color: rgb(186, 121, 0);
}

